*{
    background-color: white;
}
body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
    display: flex;
    float: right;
    list-style-type: none;
    margin-top: 40px;
    position: sticky;
}
ul li{
    margin: 0 10px;
    font-weight: bold;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}

ul li a:hover{
    color: rgba(177, 113, 250, 0.739);
    transition: 0.6s ease;
}
.logo h1{
    float: left;
    width: 300px;
    margin-top: 25px;
    height: auto;
    color: black;
}
.main{
    max-width: 1200px;
    margin: auto;
}
#about-image{
    padding-top: 50px;
}
.title{
    text-align: center;
}
.title h1{
    font-size: 4rem;
    color: black;
}

.btn{
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: rgba(177, 113, 250, 0.534);
    color: black;
}