body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)),  url(/Assets/img/home.jpg);
    background-size: cover;
    max-width: 100%;
}

/* Header */
header{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
    display: flex;
    float: right;
    list-style-type: none;
    margin-top: 40px;
    position: sticky;
}
ul li{
    margin: 0 10px;
    font-weight: bold;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}

ul li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.6s ease;
}
.logo h1{
    float: left;
    width: 300px;
    margin-top: 25px;
    height: auto;
    color: black;
}
.main{
    max-width: 1200px;
    margin: auto;
}

/* Contact Form */
.registration{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(0,0,0,0.2);
}
.registration h1{
  color: white;
  text-align: center;
}

#name{
  width: 100%; 
  padding: 12px;
  border: 1px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
#email{
  width: 100%; 
  padding: 12px;
  border: 1px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

::placeholder { 
  color: rgb(255, 255, 255);
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder { 
  color: rgb(255, 255, 255);
}
